ChatNio_API_KEY='sk-'

OpenAI_API_ENDPOINT='https://api.openai.com/v1/chat/completions'
OpenAI_API_KEY='sk-'
OpenAI_MODEL='gpt-3.5-turbo'
OpenAI_MODEL_4='gpt-4'

Gemini_API_ENDPOINT='https://generativelanguage.googleapis.com'
Gemini_API_KEY=''

NIUTRANS_KEY=''

DEEPL_X_API_URL=''

BAIDU_APP_ID=''
BAIDU_KEY=''

QWEN_API_ENDPOINT='https://dashscope.aliyuncs.com/api/v1/services/aigc/text-generation/generation'
QWEN_API_KEY='sk-'
QWEN_MODEL='qwen-turbo'

GLM_API_ENDPOINT='https://open.bigmodel.cn/api/paas/v4/chat/completions'
GLM_API_KEY=''
GLM_MODEL='glm-3-turbo'